<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kollection Digital Collectible NFT Marketplace for viewing collections of NFTs on the Koinos free-to-use blockchain using cryptocurrency tokens">
    <meta name="robots" content="index, follow" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body class="default">
    {{ content }}
    {% include navigation.html %}
  </body>
</html>
